ul, ol {
	margin: 0;
}

ul {
	list-style: disc;
  padding: 0 1.1em;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0;
}
