$breakpoints: (
  '320'  : ( min-width:  320px ),
  '450'  : ( min-width:  450px ),
  '575'  : ( min-width:  575px ),
  '650'  : ( min-width:  650px ),
  '750'  : ( min-width:  750px ),
  '950'  : ( min-width:  950px ),
  '1050' : ( min-width: 1050px ),
  '1150' : ( min-width: 1150px ),
  '1200' : ( min-width: 1200px ),
  '1350' : ( min-width: 1350px ),
  '1450' : ( min-width: 1450px ),
  '1850' : ( min-width: 1850px ),
  '2000' : ( min-width: 2000px ),
  '2200' : ( min-width: 2200px ),
  '2400' : ( min-width: 2400px )
);

// $width__max-content-width-sm: 600px;
$width__max-content-width: 1400px;
$width__max-content-width-lg: 1500px;
// $width__max-content-width-xlg: 1800px;
// $width__max-content-width-xxlg: 2000px;
// $width__max-content-width-xxxlg: 2200px;