#left-secondary {
  .form-quick-contact-wrapper {
    display: none;

    h2 {
      color: $color__h2-quick-form;
      margin-top: 2em;
      margin-bottom: 0;
    }

    form {

      .flex > div {
        margin-bottom: 1em;
      }

      label,
      input {
        width: 100%;
      }

      label {
        display: block;
        color: #53534a;
      }

      .form-button {
        background-color: $color__background-contact-submit-button;
        color: $color__contact-submit-button;
        border-radius: 20px;
        width: 75%;
        padding: 10px;
      }

      .g-recaptcha {
        padding: 1em 0;
      }

      .msg-box.error {
        padding-bottom: 1em;

        span {
          display: block;
        }

        strong {
          color: red;
        }
      }
    }

    @include respond-to('950') {
      display: block;
      font-size: .9em;

      h2 {
        @include reset;
      }

      form {
        .form-button {
          font-size: 1em;
        }
      }
    }
  }
}