#left-secondary {
  .specials {
    padding-top: 1em;
    padding-bottom: 1em;

    h2 {
      color: $color__h2-specials;
      font-family: $font__heavy;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-size: 2.3em;
      margin:0;
    }

    h3 {
      color: $color__h3-specials;
      font-family: $font__bold;
      font-size: 1.9em;
      margin:.5em 0;
      letter-spacing: 1px;
      line-height: 1.1;
      padding-right: 20%;
    }

    p {
      color: $color__p-specials;
      font-family: $font__semi;
      margin:0;
      padding-right: 10%;
    }

    .disclaimer {
      font-family: $font__light;
      font-size: .7em;
      padding-top: 1em;
    }

    hr {
      background-color: $color__hr-specials;
      margin:0;
      padding:0;
    }

    @include respond-to('1150') {
      padding-top: 0;

      h2 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.5em;
      }

      p {
        font-size: .9em;
      }
    }
  }

}