#page {
  background-color: $color__background-page;

  #primary,
  aside {
    @include padding-left-right;
  }

  #primary {
    @include container;
  }
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}